<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookBits</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>    
    <nav>
        <a id="nav-title" href="/">BookBits</a>
        <ul class="nav-list">
            <li><a>Books</a></li>
            <li>Quotes</li>
            <li>About</li>
        </ul>
    </nav>
    <main>