<%- include('partials/header.ejs') -%>
    <div class="about-label">
        <h2>About Project</h2>
    </div>
    <div class="about-details">
        <div class="about-detail__description">
            <p>

                The purpose of this website is to reinforce the most important information from books,
                 because in today’s fast-paced world, where we are constantly bombarded with information, 
                 it’s incredibly important to remember what truly matters. In an era of digital distractions and short attention spans, 
                 we often forget the profound messages found in books that shape our thinking, expand our imagination, and influence our daily lives.
                Books, especially those that stay in our minds for a long time, can be a source of valuable lessons, both personally and professionally. 
                However, in order for these insights to have a lasting impact, we must preserve them, not just read and forget them. 
                That’s why creating a space where key quotes, reflections, and observations from different books are collected is so important.
                Our website is just such a place. 
                It’s designed not only to store information but also to make it easier to return to those most significant passages that can inspire and help in everyday life.
                 This way, we can easily remind ourselves of what matters and revisit the content that holds the greatest meaning for us.
                  In a world that changes at a dizzying pace, books remain one of the most valuable tools for building a deeper understanding of ourselves and the world around us.


            </p>
        </div>
        <div class="about-details__image">
            <img src="images/about.webp">
        </div>
    </div>
    <div class="about-quote">
        <h2>Books are gates through which we step into other worlds.</h2>
    </div>
<%- include('partials/footer.ejs') -%>