<%- include('partials/header.ejs'); -%>
<div class="search">
    <div class="search-title">
        <h2>Explore, Study, Review</h2>
    </div>
    <div class="search-input">
        <form action="/search" method="get">
            <label for="search-site"></label>
            <input type="search" id="search-site" name="search site" ></input>
        </form>
    </div>
</div>
<div>
    <div class="books">
        <div class="books-label">
            <h2>Literature Notes</h2>
        </div>

        <div class="books-show">
            <div class="book">
                <div class="book-photo">
                    <img src="https://covers.openlibrary.org/b/id/12547191-M.jpg">
                    <p>Author</p>
                    <p>Title</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add-book">
    <div class="add-book__button">
        <button id="add-book__button">Add New Book</button>
    </div>
</div>
<script>
    const addButton = document.getElementById('add-book__button');
    addButton.onclick = () => {
        location.href = 'add';
    };
    console.log(books.length)
</script>
<%- include('partials/footer.ejs'); -%>
