body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: inherit;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1A1A1D;
    height: 3.5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav h2 {
    color: #6A1E55;
    font-size: 2.5rem;
    margin-left: 3rem;
    font-weight: 800;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 55px; 
    margin-right: 5px;
}

nav li {
    font-size: 1.5rem;
    gap: 4rem;
    color: #6A1E55;
    font-weight: 900;
    margin-right: 10px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #1A1A1D;
    color: white;
    height: 3rem;
    font-size: 1rem;
    align-items: center;
}

.search {
    padding: 2rem 0rem;
    background-color: #3B1C32;
}

.search-title {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.search-title h2 { 
    color: white;
    font-size: 2rem;
}

.search-input {
    display: flex;
    justify-content: center;
}

.search-input input {
    padding: 12px 10px;
    width: 600px;
    border-radius: 12px;
    border: none;
    font-size: medium;
    font-weight: bold;
}

.search-input form {
    display: flex;
    align-items: center;
    

}

.search-input form input::-webkit-search-cancel-button {
    -webkit-appearance:none;
}

.search-input button {
    background-color: inherit;
    border: none;
}



.search-form__svg {
    margin-left: -35px;
}

.search-autocomplete {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-autocomplete__ul {
    background-color: white;
    width: 580px;
    text-align: center;
    line-height: 1.6;
}

.search-autocomplete li {
    list-style-type: none;
}

.search-autocomplete li:hover {
    background-color: aliceblue;
}

.books-label {
    display: flex;
    justify-content: center;
    padding: 3rem 0rem;
}

.books-label h2 {
    font-size: 2rem;
    color: #1A1A1D;
    font-weight: bolder;
}

.books-show {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.book-photo img {
    height: 250px;
    width: 200px;

}

.book-photo {
    height: 300px;
    width: 200px;
    box-shadow: 0px 1px 6px 1px black;
    text-align: center;


}

.book {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 250px;
}

.book-all {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.books-show-all {
    margin: 2rem 0rem;
}

.add-book {
    display: flex;
    justify-content: center;
    margin: 3.5rem 0rem;
}

#add-book__button {
    padding: 1rem 0.4rem;
    font-size: 1.5rem;
    color: white;
    background-color: #3B1C32;
    font-weight: bolder;
    border: #1A1A1D;
    border-radius: 10px;
}

#add-book__button:hover {
    background-color: #22101d;
    cursor: pointer;
}

.form {
    display: flex;
    justify-content: center;
}

.add-form {
    margin: 5em 0em;
    background-color: #3B1C32;
    width: 70%;
    height: 600px;
    box-shadow: 0px 1px 6px 1px black;

}

.add-form__label h2 {
    color: white;
    font-size: 2em;
    text-align: center;
    margin: 1em 0em;
}

.add-form__isbn { 
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-form label {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 2px;
}

.add-form input {
    width: 40%;
    padding: 1rem 0.4rem;
    border-radius: 12px;
    border: none;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.add-form__author {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-form__title {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-form__submit {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.add-form__submit input {
    margin: 2rem 0rem;
    width: 14%;
    background-color: #1A1A1D;
    color: #6A1E55;
    font-weight: 900;
    font-size: 1.2rem;
}

.add-form__submit input:hover{
    background-color: #0f0f11;
    cursor: pointer;
}

.add-form__success {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    padding: 0.5rem 0rem;
    font-size: 0.8rem;
    border-radius: 5px;
    color: green;
}

.add-form__failed {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 900;
    padding: 0.5rem 0rem;
    font-size: 0.8rem;
    border-radius: 5px;
    color: red;
}

a {
    text-decoration: none;
}

.nav-list a {
    color: inherit;
}

.about-label h2{
    text-align: center;
    margin: 4rem 0rem;
    font-weight: 700;
    color: #22101d;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: #22101d 1px 0 1px;

}

.about-details {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.about-details__image img {
    width: 500px;
    height: 600px;
    box-shadow: 0px 1px 6px 1px black;

}

.about-quote h2 {
    margin: 2rem 0rem;
    text-align: center;
    color: #22101d;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: #22101d 1px 0 1px;
}

.about-detail__description {
    width: 400px;
}

.about-detail__description p {
    letter-spacing: 2px;
    text-indent: 50px;
    line-height: 1.3;
}

.change-page__button {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin: 7rem 0rem 2rem;
}

.change-page__button button {
    width: 6rem;
    height: 3rem;
    background-color: #1A1A1D;
    border: none;
    border-radius: 12px;
}

.change-page__button button:hover{
    background-color: #0f0f11;
}

.change-page__button p {
    color: white;
    font-weight: 900;
    font-size: 1rem;

}

.content {
    display: flex;
    flex-wrap: wrap;
}

.content-book__details {
    margin: 10rem 5rem;
}

.content-title h2 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.content-author p {
    text-align: center;
}

.book-image img {
    height: 500px;
    width: 350px;
    box-shadow: 0px 1px 6px 1px black;

}

.content-details {
    margin-top: 5rem;
    width: 50%;
    font-size: 1rem;
    line-height: 1.2;
}

.edit-button {
    display: flex;
    justify-content: center;
    margin: 2rem 0rem;
}

.edit-button input {
    background-color: #1A1A1D;
    color: #6A1E55;
    border-radius: 10px;
    padding: 7px;
    border: none;
    font-weight: 900;
    cursor: pointer;
}

.edit-button input:hover {
    background-color: #0f0f11;
}

.edit {
    display: flex;
    align-items: center;
    flex-direction: column;  
}

.edit h2 {
    color: #22101d;
    margin: 2rem 0rem;
}

.edit-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    background-color: #6A1E55;
    margin: 2rem 0rem;
    padding: 2rem 0rem;
    border-radius: 8px;
    box-shadow: 0px 1px 6px 1px black;

}

.edit-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form label {
    color: white;
    font-size: 1.7rem;
    margin-bottom: 2rem;
    font-weight: 900;
}

#content-update {
    padding: 10px;
    width: 800px;
    height: 400px;
    border-radius: 12px;
}

.edit-form input {
    background-color: #1A1A1D;
    color: #6A1E55;
    border-radius: 10px;
    padding: 7px;
    border: none;
    font-weight: 900;
    cursor: pointer;
    margin-top: 2rem;
}

@media screen and (max-width:1700px){
    .add-form__submit input {
        font-size: 1rem;
    }

    #content-update {
        width: 450px;
    }
  
}

@media screen and (max-width:1400px){
    .add-form__submit input {
        font-size: 0.8rem;
        width: 25%;
    }
  

    .content-book__details {
        display: none;
    }

    .content-details {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .content {
        display: flex;
        justify-content: center;
    }

    #content-update {
        width: 350px;
    }

}

@media screen and (max-width: 1000px){
    .about-details__image img {
        display: none;
    }

    .about-details {
        gap: 0px;
    }

    .about-detail__description{
        text-align: center;
    }

}

@media screen and (max-width:630px) {
    nav h2{
        font-size: 1.5rem;
    }
    
    nav ul {
        gap: 20px;
    }

    nav li {
        font-size: 1rem;
    }

    .search-input input {
        width: 400px;
    }

    .change-page__button {
        gap: 200px;
    }
    .add-form__submit input {
        font-size: 0.8rem;
        width: 33%;
    }
    #content-update {
        width: 250px;
    }

    .edit-form label {
        text-align: center;
    }
    
}
